body {
  font-size: 16px;

}

.page-container {
  width: 1160px;
  margin: 0 auto;
  outline: 1px solid gray;
}

header {
  min-height: 545px;
  background-color: #eeeeee;
  margin-bottom: 80px;
}

.top-logo {
  float: left;
}

.top-menu {
  float: left;
}

.top-menu li {
  display: inline-block;
}

a {
  text-transform: capitalize;
}

.cart {
  float: right;
}

.advantages {
  min-height: 347px;
  outline: 1px solid blue;
  margin-bottom: 80px;
}

.studio {
  min-height: 710px;
  outline: 1px solid red;
  margin-bottom: 80px;
}

.map {
  outline: 1px solid green;
  min-height: 416px;
}

footer {
  min-height: 217px;

}
